{% extends 'base.html.twig' %}

{% block body %}
{{parent()}} 

<div class="header" style="text-align:center; background-color: #CECECE; height: auto;">
	<br>
	
    <img src={{usuario.imagenPerfil}} width="170px" heigth="170px" style="border-radius: 100%;"/>
    <h1 style="text-align:center"> <b> {{usuario.username}} </b> </h1>

	<br>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
	    <span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="navbar-nav mr-auto mx-auto mt-2 mt-md-0">
			<li class="nav-item activa"><a class="nav-link">Perfil</a></li>
			<li class="nav-item"><a class="nav-link" href="Noticias.html">Noticias</a></li>
			<li class="nav-item"><a class="nav-link" href="Recomendaciones.html">Recomendaciones</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
					{% if app.user %}
						{% if app.user.id == usuario.id %}
        					<li class="nav-item"><a  class="nav-link" href="{{path('modificarUsuario', {'id': app.user.id})}}"><i class="fas fa-edit"></i></a></li>
					
							<li class="nav-item"><a  class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a></li>
						{% endif %}
					{% endif %}
				</ul>
	</div>
</nav>

<div class="container forma" style="width: 80%;">

</div>

{% endblock %}