{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{{parent()}}

<br>

<div class="container forma">
    <br>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Ya inicio sesión como: {{ app.user.username }}, <a href="{{ path('app_logout') }}"> Cerrar Sesión</a>
            </div>
        {% endif %}

        <h1 style="text-align:center"> Inicio sesión </h1>

        <div class="form-group"> 
            <label for="inputUsername"> Usuario: </label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autofocus placeholder="Elmox" required>
        </div>

        <div class="form-group"> 
            <label for="inputPassword"> Contraseña: </label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="******" required>
        </div>

        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Iniciar sesión
        </button>
    </form>

    <br>

    <h6 style="text-align:center"> Si aún no está registrado, hágalo <a href="{{ path('registroUsuario') }}"> acá. </a></h6>

    <br>
</div>

<br>

{% endblock %}
